@import '../../styles/color.module';

.order-container {
    padding: 4.875rem 10rem;
    background-color: $cart-bg-color;

    .order-confirmation-txt {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .thankyou-msg {
        margin-top: 0.625rem;
    }

    .order-cards-container {
        margin-top: 1.25rem;
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        flex-wrap: wrap;
    }

}