@import '../../styles/color.module';
@import '../../styles/mixin.module';

.banner {
    display: flex;
}

.site-desc {
    margin: 10.25rem 0 0 9.25rem;
    width: 37.5rem;
    z-index: 1;
}

.banner-img-container {
    width: 100%;

    .banner-img {
        @include banner-img;
    }
}

.welcome {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    color: $welcome-msg-color;
}

.slogan {
    margin: 2.5rem 6.25rem 5rem 0;
    font-size: 4.375rem;
    font-weight: 300;
    color: $slogan-color;
    letter-spacing: 1px;
}

.south {
    padding-left: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-container {
    margin-top: 1.5rem;
}
