@import '../../styles/color.module';

.btn {
    padding: 0.75rem 2rem;
    background-color: $btn-color;
    color: $white-color;
    border: none;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}