@import '../../styles/color.module';

.products-with-cart-container {
    // Subtracting the header height
    height: calc(100vh - 5.3125rem);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: scroll;

    .products-container {
        margin: 2.1875rem 2.1875rem 0;
        padding: 0.625rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 2.625rem;
        overflow-y: auto; 
    }

    .loading-txt {
        margin: auto;
    }
}