@import '../../styles/color.module';
@import '../../styles/mixin.module';

.banner {
    display: flex;
}

.site-desc {
    margin: 6.875rem 7.5rem 0 7.5rem;
    width: 30%;
    z-index: 1;

    .place-name {
        color: $btn-color;
        font-size: 5rem;
    }

    .short-desc {
        margin-top: 1.25rem;
        padding: 4.735rem 4.68rem 3.4rem 4.68rem;
        width: 66.8rem;
        background-color: $btn-color;
        color: $white-color;
        font-weight: 600;
        font-size: 3.75rem;
        text-transform: capitalize;
        line-height: 1.5;
    }

    .temperature {
        margin-top: 2.18rem;
        font-size: 3.75rem;

        sup {
            font-weight: 300;
            font-size: 1.25rem;
        }
    }
}

.banner-img-container {
    width: 70%;

    .banner-img {
        @include banner-img;
    }
}

