@import '../../styles/color.module';

.btn {
    padding: 0.625rem 0.9375rem 0.5rem;
    max-width: 7.8125rem;
    background-color: $btn-color;
    color: $white;
    border: none;
    border-radius: 0 0 0.3125rem 0;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

.cart-btn {
    padding: 0.3125rem 0.625rem;
    width: 6.25rem;
    font-weight: 400;
    font-size: 0.6875rem;
}
