.full-description-container {
    margin: 6.875rem 7.5rem 0 7.5rem;
    font-size: 2.125rem; 

    div {
        margin-bottom: 4.735rem;
        line-height: 1.35;
        text-align: justify;
    }
}