$white: #ffffff;
$black: #222222;

$description-txt-color: #4e4e4e;
$btn-color: #050400;
$footer-bg-color: #eeeeee;
$guarantee-icon-color: #008800;
$horizontal-line-color: #f0f0f0;
$add-to-wishlist-color: #888888;