@import '../../styles/color.module';
@import '../../styles/mixin.module';

.destinations-container {
    margin: 6.25rem 6.875rem 1.25rem 6.875rem;
}

.destinations-container {
    .heading {
        @include heading;
    }

    .heading-desc {
        @include heading-desc;
    }

    .tourist-cards-container {
        margin-top: 3.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 5.31rem;
        column-gap: 1.875rem;
    }
}

